:root {
    --gold: #f5a80e;
    --lighest-blue: #195170;
    --blue: #022564;
    --dark-red: #452843;
    --white: white;
    --black: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    overflow-y: hidden;
    height: 100%;
    font-size: 62.5%;
    font-family: 'Alfa Slab One', 'Plus Jakarta Sans', 'Poor Story' ;
    
}
body {
    width: 100%;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 36px;
    text-align-last: center;
    margin-top: -22px;
    margin-bottom: 25px;
    background: var(--white);
    border-bottom: 1px solid var(--gold);
}
header img {
    height: 100px;
    margin-top: 4px;
}
main {
    display: flex;
    border-top: 4px ridge var(--gold);
    background-color: var(--blue);
    width: 100%;
    overflow-x: hidden;
   
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 340px;
}
main section div:nth-child(1) {
    height: 90px;
    width: 250px;
    margin-top: 20px;
    margin-right: 14px;
    text-align: center;
    border: 8px groove;
    border-radius: 5px;
    background-color: unset;
    backdrop-filter: brightness(0.5);
    color: var(--gold);
    font-size: 1.3rem;
    font-family: 'Plus Jakarta Sans';
    
}
main section div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 10px;
    background-color: unset;
    backdrop-filter: brightness(0.5);
    border: 5px groove;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--gold);
}
main section div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
}
main section div:nth-child(2) ul li {
    margin-left: 40px;
}
main section nav {
    margin-left: 30px;
}
main section nav ul {
    display: flex;
    width: 100%;
    margin: 25px 36px 8px 0;
    margin-bottom: 8px;
}
main section nav ul button {
    margin-left: 10px;
    border-radius: 30px;
    font-family: 'Plus Jakarta Sans';
    width: 40px;
    height: 32px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
main section nav ul button:hover {
    color: var(--gold);
    box-shadow: 0 0 15px  var(--gold);
    text-shadow: 0 0 15px  var(--gold);
}
main section nav ul button::after {
    content: "";
    background: var(--gold);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;  */
    transition: .5s;
    transform: scale(.05);
    z-index: -1; 
  
  
}
main section nav ul button img {
    width: 30px;
}
/* main section nav ul button:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
    box-shadow: 0 0 20px var(--gold);
} */
.section-nav_button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.html-button_span {
    background: rgba(0,0,0,.7);
	position: fixed;
	top: 72px;
	bottom: 0;
	left: 0;
	right: 0;
    align-items: center;
	display: flex;
    justify-content: flex-start;
    height: 72%;
    z-index: 1;
}
.html-button_span img {
    align-self: center;
    height: 260px;
}
.inactive {
    display: none;

}
aside {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px 50px 0 12px;
}
aside figure {
    align-self: flex-start;
    margin-top: 6px;
    margin-left: 24px;
    width: 160px;
    background-color: unset;
    border: 8px groove var(--white);
   
}
aside figure img {
    width: 140px;
    height: 160px;
}
aside div {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-family: 'Plus Jakarta Sans';
    padding-bottom: 12px;
    padding-top: 12px;
    color: var(--gold);
    backdrop-filter: brightness(0.4);
    filter: drop-shadow(12px 20px 24px black);
    -webkit-text-stroke: 0.5px var(--black);
}
footer {
    padding-bottom: 36px;
    width: 100%;
    height: 68px;
    align-items: center;
    list-style: none;
    border-top: 4px solid var(--gold);
    background-color: var(--white)
}
footer span {
    margin-left: 10px;
    transition: all 1s;
      -webkit-transition: all 1s;   
}
footer span:hover {
    transform:rotate(360deg) scale(0.4,0.4);
        -webkit-transform:rotate(360deg) scale(1.4,1.4);
        -o-transform:rotate(360deg) scale(0.4,0.4);		
    
}