:root {
    --gold: #f5a80e;
    --lighest-blue: #195170;
    --blue: #022564;
    --dark-red: #452843;
    --white: white;
    --black: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    font-size: 62.5%;
    font-family: 'Alfa Slab One', 'Plus Jakarta Sans', 'Poor Story' ;
}
body {
    width: 100%;
    /* height: 100%; */
    overflow-y: hidden;
}
header {
    width: 100%;
    height: 58px;
    text-align-last: center;
    margin-top: -22px;
    margin-bottom: 25px;
    background: var(--white);
    border-bottom: 1px solid var(--gold);
}
header img {
    height: 144px;
}
main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    border-top: 4px ridge var(--gold);
    height: 80%;
    border-top: 4px ridge var(--gold);
    background-image: url(../images/desktop.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px)
}
main section {
    display: inline-grid;
    flex-direction: column;
    justify-items: center;
}
main section div:nth-child(1) {
    margin: 10px 0;
    height: 90px;
    width: 380px;
    text-align: center;
    justify-self: center;
    border: 8px groove;
    border-radius: 5px;
    font-size: 1.9rem;
    font-family: 'Plus Jakarta Sans';
    background-color: unset;
    backdrop-filter: brightness(0.5);
    filter: drop-shadow(2px 4px 6px black);
    color: var(--gold);
    -webkit-text-stroke: 0.8px var(--black);
    
}
main section div:nth-child(2) {
    display: flex;
    margin-bottom: 10px;
    margin-left: 40px;
    border: 5px groove;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 2.2rem;
    background: unset;
    backdrop-filter: brightness(0.5);
    color: var(--gold);
    -webkit-text-stroke: 0.8px var(--black);
}
main section div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
}
main section div:nth-child(2) ul li {
    margin-left: 40px;
}
/* main section nav {
  
} */
main section nav ul {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    border-bottom: 1px groove var(--gold);
}
main section nav ul button {
    margin-left: 10px;
    border: 0px groove var(--white);
    border-radius: 30px;
    font-family: 'Plus Jakarta Sans';
    width: 88px;
    height: 50px;
    text-align: center;
    filter: drop-shadow(2px 16px 6px black);
    background: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
main section nav ul button:hover {
    color: var(--gold);
    box-shadow: 0 0 15px  var(--gold);
    text-shadow: 0 0 15px  var(--gold);
}
main section nav ul button::after {
    content: "";
    background: var(--gold);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;  */
    transition: .5s;
    transform: scale(.05);
    z-index: -1; 
  
  
}
main section nav ul button img {
    width: 44px;
}
/* main section nav ul button:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
    box-shadow: 0 0 20px var(--gold);
} */
.section-nav_button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.html-button_span {
    background: rgba(0,0,0,.7);
	position: fixed;
    height: 86%;
    z-index: 1;
    padding-bottom: 110px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.html-button_span img {
    align-self: center;
    height: 320px;
}
.inactive {
    display: none;

}
aside {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
aside figure {
    margin-top: 6px;
    margin-right: 20px;
    width: 165px;
    backdrop-filter: brightness(0.3);
    border: 8px groove var(--white);
   
}
aside figure img {
    width: 150px
}
aside div {
    color: var(--white);
    backdrop-filter: brightness(0.9);
    font-size: 1.6rem;
    font-family: 'Plus Jakarta Sans';
    padding-bottom: 50px
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0 25px 0;
    height: 68px;
    align-items: center;
    list-style: none;
    border-top: 4px solid var(--gold);
    background-color: darkgrey;
}
footer span {
    margin-left: 10px;
    transition: all 1s;
      -webkit-transition: all 1s;   
}
footer span:hover {
    transform:rotate(360deg) scale(0.4,0.4);
        -webkit-transform:rotate(360deg) scale(1.4,1.4);
        -o-transform:rotate(360deg) scale(0.4,0.4);		
    
}