:root {
    --gold: #f5a80e;
    --lighest-blue: #195170;
    --blue: #022564;
    --dark-red: #452843;
    --white: white;
    --black: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Alfa Slab One', 'Plus Jakarta Sans', 'Poor Story' ;
}
body {
    height: 100%;
    overflow-y: hidden;
}
header {
    width: 100%;
    height: 58px;
    text-align-last: center;
    margin-top: -22px;
    margin-bottom: 25px;
    background: var(--white);
    border-bottom: 1px solid var(--gold);
}
header img {
    height: 144px;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
    border-top: 4px ridge var(--gold);
    background-image: url(../images/desktop.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(20px)
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main section div:nth-child(1) {
    height: 200px;
    width: 380px;
    text-align: center;
    border: 8px groove;
    border-radius: 5px;
    background-color: unset;
    backdrop-filter: blur(3px);
    filter: drop-shadow(2px 4px 6px black);
    color: var(--gold);
    -webkit-text-stroke: 1.4px var(--black);
    font-size: 2.4rem;
    font-family: 'Plus Jakarta Sans';
    
}
main section div:nth-child(2) {
    display: flex;
    background: unset;
    backdrop-filter: brightness(0.8);
    border: 5px groove;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--gold);
    -webkit-text-stroke: 1.4px var(--black);
}
main section div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    list-style: circle;
}
main section div:nth-child(2) ul li {
    margin-left: 40px;
}
main section nav ul {
    display: flex;
    backdrop-filter: blur(2px);
    border-bottom: 1px groove var(--gold);
}
main section nav ul button {
    margin-left: 10px;
    border: 0px groove var(--white);
    border-radius: 30px;
    font-family: 'Plus Jakarta Sans';
    width: 88px;
    height: 50px;
    text-align: center;
    filter: drop-shadow(2px 16px 6px black);
    background: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
main section nav ul button:hover {
    color: var(--gold);
    box-shadow: 0 0 50px  var(--gold);
    text-shadow: 0 0 15px  var(--gold);

}
main section nav ul button::after {
    content: "";
    background: var(--gold);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;  */
    transition: .5s;
    transform: scale(.05);
    z-index: -1; 
  
  
}
/* main section nav ul button:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
    box-shadow: 0 0 20px var(--gold);
} */
.section-nav_button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.html-button_span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 0px;
    padding-bottom: 110px;
	top: 0;
	bottom: 0;
	left: 250px;
	right: 0;
    background: rgba(0,0,0,.7);
	position: fixed;
    height: 81%;
    z-index: 1;
    
	

}
.html-button_span img {
    align-self: center;
    height: 440px;
}
.inactive {
    display: none;

}
main section nav ul button img {
    width: 44px;
}
aside {
    display: flex;
    flex-direction: column;
    padding: 47px 100px 0px 0px;
}
aside figure {
    margin-top: 6px;
    margin-right: 60px;
    height: 62%;
    background: unset;
    backdrop-filter: brightness(0.3);
    border: 8px groove var(--white);
   
}
aside figure img {
    margin-bottom: 50px;
    width: 219px;
}
/* aside span {
    font-family: 'Plus Jakarta Sans';
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--lighest-blue);
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    align-self: flex-end;
} */
aside div {
    color: var(--gold);
    font-size: 2rem;
    font-family: 'Plus Jakarta Sans';
    margin-top: 20px;
    backdrop-filter: brightness(0.9);
    filter: drop-shadow(12px 20px 24px black);
    -webkit-text-stroke: 1.4px var(--black);
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0 25px 0;
    height: 68px;
    align-items: center;
    list-style: none;
    border-top: 4px solid var(--gold);
    background-color: darkgrey;
}
footer span {
    margin-left: 10px;
    transition: all 1s;
      -webkit-transition: all 1s;   
}
footer span:hover {
    transform:rotate(360deg) scale(0.4,0.4);
        -webkit-transform:rotate(360deg) scale(1.4,1.4);
        -o-transform:rotate(360deg) scale(0.4,0.4);		
    
}