:root {
    --gold: #f5a80e;
    --lighest-blue: #195170;
    --blue: #022564;
    --dark-red: #452843;
    --white: white;
    --black: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Alfa Slab One', 'Plus Jakarta Sans', 'Poor Story' ;
}
header {
    width: 100%;
    height: 58px;
    text-align-last: center;
    margin-top: -22px;
    margin-bottom: 25px;
    background: var(--white);
    border-bottom: 1px solid var(--gold);
}
header img {
    height: 144px;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 4px ridge var(--gold);
    background-color: var(--blue);
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main section div:nth-child(1) {
    height: 200px;
    width: 380px;
    text-align: center;
    border: 8px groove;
    border-radius: 5px;
    background-color: var(--gold);
    color: var(--blue);
    font-size: 2.4rem;
    font-family: 'Plus Jakarta Sans';
    
}
main section div:nth-child(2) {
    display: flex;
    background-color: var(--gold);
    border: 5px groove;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--lighest-blue);
}
main section div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    list-style: circle;
}
main section div:nth-child(2) ul li {
    margin-left: 40px;
}
main section nav ul {
    display: flex;
}
main section nav ul button {
    margin-left: 10px;
    border: 0px groove var(--white);
    border-radius: 30px;
    font-family: 'Plus Jakarta Sans';
    width: 88px;
    height: 50px;
    text-align: center;
    background-color: var(--lighest-blue);
    color: var(--white);
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
main section nav ul button:hover {
    color: var(--gold);
    box-shadow: 0 0 15px  var(--gold);
    text-shadow: 0 0 15px  var(--gold);
}
main section nav ul button::after {
    content: "";
    background: var(--gold);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;  */
    transition: .5s;
    transform: scale(.05);
    z-index: -1; 
  
  
}
/* main section nav ul button:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
    box-shadow: 0 0 20px var(--gold);
} */
.section-nav_button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.html-button_span {
    background: rgba(0,0,0,.7);
	position: fixed;
	top: 72px;
	bottom: 0;
	left: 0;
	right: 0;
    align-items: flex-start;
	display: flex;
    flex-direction: column;
}
.html-button_span img {
    height: 440px;
}
.inactive {
    display: none;

}
aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 47px 50px 0 0;
}
aside figure {
    margin-top: 6px;
    margin-right: 120px;
    height: 40%;
    background-color: #9599E2;
    background-image: linear-gradient(180deg, #9599E2 0%, #8BC6EC 10%, #9fe2bf 66%, #ccccff 100%);
    border-top: 8px groove var(--white);
    border-right: 8px groove var(--white);
    border-left: 8px groove var(--white);
   
}
aside figure img {
    width: 244px;
}
aside div {
    color: var(--white);
    font-size: 1.6rem;
    font-family: 'Plus Jakarta Sans';
    margin-top: 100px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0 25px 0;
    height: 68px;
    align-items: center;
    list-style: none;
    border-top: 4px solid var(--gold);
    background-color: var(--white)
}
footer span {
    margin-left: 10px;
}